* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);
    color: #333;
    line-height: 1.6;
    padding: 20px;
  }

  .page {
    max-width: 900px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 8px;
    overflow: hidden;
}
  
  header {
    background: #1f2937;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: #00acee;
  }
  
  #social {
    margin: 40px 0;
  }
  
  #social h2 {
    margin-bottom: 15px;
  }
  
  .social-grid {
    display: flex;
    justify-content: center;
  }
  
  .social-grid ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 500px;
    width: 100%;
  }
  
  
  #social li a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #333;
    font-size: 1.1em;
    transition: transform 0.3s, color 0.3s;
  }
  
  #social li a:hover {
    color: #0077b6;
    transform: scale(1.05);
  }
  
  i {
    font-size: 1.3em;
    color: #0077b6;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  form div, fieldset {
    margin-bottom: 20px;
    border: navajowhite;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background: linear-gradient(to bottom, #0077b6, #023e8a);
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 5px 0 #01497c, 0 10px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 0 #01497c, 0 12px 20px rgba(0, 0, 0, 0.4);
    background: linear-gradient(to bottom, #0096c7, #005f99);
  }

  main{
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  footer {
    margin-top: 50px;
    padding: 20px;
    background: #222;
    color: #fff;
    text-align: center;
    border-radius: 10px;
  }

  @media (max-width: 500px) {
    .social-grid ul {
      grid-template-columns: 1fr;
    }
  }
  
